.cookie {
  width: 400px;
  height: 400px;
  animation: rotation 5s infinite linear;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    width: 420px;
    height: 420px;
    transition: 0.1s;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
